.project-card-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card-content h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.project-card-content h3 {
    font-size: 1.2em;
    color: #555;
}

.project-card-content a {
    color: #007BFF;
    text-decoration: none;
}

.project-card-content a:hover {
    text-decoration: underline;
}