.hAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px 20px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
  }
  
  .me {
    color: #0296a0;
  }
  
  .cunten {
    color: #ffffff;
    margin: 10px 10px;
  }
  
  .about {
    text-align: center;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }
  
  .aboutbg {
    background-color: #032c2f;
  }
  
  .fullConten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse; /* Order the elements initially with image on the right */
  }
  
  .abPic img {
    max-width: 30vw;
    max-height: auto;
    text-align: left;
    margin: 40px;
    margin-left: 60px;
  }
  
  @media (max-width: 768px) {
    .hAbout {
      font-size: 16px; /* Adjust font size for smaller screens */
      margin: 20px 10px 10px; /* Adjust margins for better spacing */
      gap: 5px; /* Reduce gap */
    }
  
    .about {
      margin: 20px;
    }
  
    .fullConten {
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center align the content */
    }
  
    .abPic img {
      max-width: 60vw; /* Increase width for better visibility */
      margin: 20px auto; /* Center image and adjust margins */
    }
    .abPic{
      margin-bottom:60px;
    }
  }
  