.projectContainer {
    background-color: #032c2f;
    padding: 100px 20px;
    text-align: center;
  }
  
  .hedder {
    font-size: 23px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
    text-align: center;
  }

  .small-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .small-loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #0296a0; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
  .Project {
    color: rgb(5, 170, 170);
  }
  
  .Dashboard {
    color: #ffffff;
  }
  
  .projectsGrid {
    display: flex; /* Use flexbox for the grid */
    flex-wrap: wrap; /* Allow wrapping if there are too many cards to fit in one row */
    justify-content: space-around; /* Center the cards horizontally */
    gap: 20px; /* Add gap between cards */
  }
  
  .project-card {
    background-image: linear-gradient(to bottom right, aqua, rgb(5, 170, 170));
    border-radius: 10px;
    font-weight: bold;
    width: calc(33.333% - 40px); /* Adjust width to allow for gaps */
    height: 230px;
    max-width: 300px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s, box-shadow 0.5s, background-image 0.5s;
    cursor: pointer;
    position: relative; /* Ensures absolute positioning works */
    overflow: hidden; /* Ensures content doesn't overflow */
  }
  
  .project-card img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    position: absolute; /* Ensures it covers the entire card */
    top: 0;
    left: 0;
    object-fit: cover; /* Ensures it covers the card proportionally */
    z-index: 1; /* Places it below the content */
  }
  
  .project-card:hover img {
    transform: scale(1.1); /* Scales the image on hover */
  }
  
  .project-card:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to bottom right, #032c2f, rgb(5, 170, 170));
    box-shadow: 4px 9px 13px rgba(10, 10, 10, 0.768);
  }
  
  .project-card-content {
    padding: 20px;
    position: absolute; /* Allows positioning relative to .project-card */
    bottom: 0; /* Start at the bottom */
    width: 100%;
    height: 70px; /* Initial height */
    transition: bottom 0.5s, height 0.5s, background 0.5s, opacity 0.5s; /* Smooth transition for bottom and height */
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    z-index: 2; /* Places it above the image */
    color: #000;
  }
  
  .project-card:hover .project-card-content {
    bottom: 0; /* Move to the bottom */
    height: 100%; /* Expand to full height */
    background-image: linear-gradient(to bottom, #0c7e861a, #0c7e86);
    opacity: 0.8; /* Slightly transparent */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .PCCtitle {
    color: #444;
    margin-bottom: 10px;
  }
  
  .project-card h2 {
    font-size: 1.5em;
    color: #444;
  }
  
  .url {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto; /* Center the icon horizontally */
    display: flex;
    align-items: center; /* Center the icon vertically */
    justify-content: center;
    margin-top: 20px;
  }
  
  .project-card h3 {
    font-size: 1.2em;
    color: #555;
  }
  
  .url a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 1024px) {
    .project-card {
      width: calc(50% - 40px); /* Two cards per row */
    }
  }
  
  @media (max-width: 768px) {
    .project-card {
      width: calc(100% - 40px); /* One card per row */
    }
  }
  